<nav  class="navbar navbar-expand-sm navbar-light bg-light fixed-top ">
    <div class="container">
        <a>
            <img src="../../../assets/images/task-logo.png" style="width: 50px; height: 50px;">
        </a>   <h3 class="ms-3">Task Manager</h3>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
         
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0 me-3 gap-3  ">
                <li class="nav-item " >
                   <span (click)="signOut()" class="span"> Log Out</span>
                </li>
            </ul>
           
        </div>
    </div>
</nav>
