<div class="container mt-4">
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <strong>Welcome!</strong> Here are your tasks. You can mark them as complete or view the details.
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  <div class="row">
    <div *ngFor="let task of tasks" class="col-md-6 col-lg-4 mb-4">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">{{ task.title }}</h5>
          <p class="card-text d-flex">
            <span
              class="badge"
              [ngClass]="task.completed ? 'text-success' : 'text-warning'"
            >
              {{ task.completed ? "Completed" : "Pending" }}
            </span>
          </p>
<div class="d-flex align-items-center justify-content-between">
    <a
      [routerLink]="['/task-details', task.id]"
      class="btn btn-primary btn-sm flex-grow-1 me-2"
    >
      View Task Details
    </a>
    <button
      class="btn btn-sm "
      [ngClass]="{
        'btn-success rounded-circle': task.completed,
        'btn-secondary': !task.completed
      }"
      (click)="toggleTaskCompletion(task)"
    >
      {{ task.completed ? '' : 'Click to Complete' }}
      <i class="fas" [ngClass]="task.completed ? 'fa-check' : 'fa-hourglass'"></i>
    </button>
  </div>
         
</div>
      </div>
    </div>
  </div>
</div>
